Source: servercontrol
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), perl (>= 5.10.0)
Standards-Version: 3.5.1
Homepage: https://github.com/servercontrol

Package: servercontrol
Architecture: all
Depends: perl (>= 5.10.0), libyaml-perl, libdevel-stacktrace-perl
Description: ServerControl
